body {
  margin: 20px;
}

/* CSS Nesting */
/* 하위 선택자, 문맥 선택자 */
/* 자식 선택자 */
.likelion {
  background-color: #ffc;

  > ul {
    list-style-image: url(/src/assets/thumbnail/new.png);
  }

  ul {
    padding-left: 40px;
  }
  li {
    margin: 10px 0;

    li:first-child {
      color: red;
    }
  }

  .sub-last {
    background-color: #cff;

    &:hover {
      background-color: darkblue;
      color: white;
    }
  }
}
